.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
}
.navbar-inverse{
    background-color: gold;
    color: red;
}
#date{
    font-size: 10px;
    color: green;
}
.lynx {
    display: inline;
    font-family: fantasy;
    color: gold;
    background-color: blue;
    padding-bottom: 10px;
     padding-left: 6px;
     padding-right: 6px;
     padding-top: 10px;
}

.lynx:hover {
    background-color: silver;
    font-family: 'Righteous', cursive;
}
body{
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    vertical-align: center;
}

marquee{
 font-size: 50px;   
}

h2{
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
}
.kit_mag_sch{
    width: 100%;
    height: auto;
    background-color: dimgray;
    
}
.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}
.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center
}
#Teachers{
    margin-top: 50px;
}
.math_com {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.math_com i {
    float: right;
}

